<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sistemaLanchonete.My.MySettings.lanchoneteConnectionString"
            connectionString="Data Source=DESKTOP-F58BHV4;Initial Catalog=lanchonete;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="sistemaLanchonete.My.MySettings.lanchoneteAccess"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\lanchonete.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>